@model PostsViewModel

<div class="row" rgba(18,22,27,255)>
    <div class="col-lg-4" >
        <vc:tags-menu></vc:tags-menu>
        <vc:new-posts></vc:new-posts>
    </div>
    <div class="col-lg-8" >
        <div class="bg p-4"  style="background-color: rgba(24,30,37,255);" >
            <h1 class="h4 mb-4" style="color: white;">Gündem</h1>
            @foreach(var post in Model.Posts)
            {
                <div class="card bg-transparent border-0 mb-3" >
                    <div class="row" >
                        <div class="col-8">
                            <h5><a href="/posts/details/@post.Url" class="btn-link fw-bold">@post.Title</a></h5>
                            <p style="color: white;" >@post.Description</p>
                        </div>
                        <div class="col-4">
                            <img src="~/img/@post.Image" class="img-fluid rounded" alt="">
                        </div>
                        
                    </div>
                </div>
                <hr class="my-3" style="color: white ;">
            }
            
        </div>
    </div>
    
       
</div>


